body {
margin:2px;
padding:0px;
width:100%;
font-size: 1.8em;
line-height: 150%
}

img {
 margin-top: 40px;
 margin-bottom: 40px
}



h1,h2,h3,h4 {
margin-bottom: 20px;
margin-top: 30px;
padding-top: 15px;
display: inline-block;
width:100%
}
}
h1.title {
font-family: 'Oswald', sans-serif;
font-size: 28px;
line-height: 100%
}

pre code, pre, code {
 margin-top: 30px;
 margin-bottom: 40px

}

blockquote {
text-align: justify;
margin-top: 20px;
margin-bottom: 30px;
font-size: 0.9em;
line-height:130%;
background-color: #f2f2f2;
}
